@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);
@import "variables";

body {
  font-family: "Fira Code";
  &[data-darkmode="true"] {
    color: $light;
    background-color: $dark;
  }
  &[data-darkmode="false"] {
    color: $dark;
    background-color: $light;
  }
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}
